.postComponentCntr {
    section {
        display: flex;
        flex-direction: column;
        padding: 10px 0;

        .app-form {
            display: flex;
            flex-direction: column;
            border-bottom: 1px solid #1360fc;
            align-items: flex-end;
        }

        &.app-posts {
            article {
                padding: 10px;
                border-bottom: 1px solid #1360fc;

                .userid {
                    color: #1360fc;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .title {}

                .postBody {}
            }
        }

        * {
            margin: 10px 0;
        }
    }

    textarea {
        border: 1px solid #1360fc;
        border-radius: 15px;
        padding: 10px;
        width: calc(100% - 20px);
        height: 100px;
    }

    button {
        background: #1360fc;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 20px;

        &:hover {
            text-decoration: underline;
        }
    }
}